<html>
	<head>
        <title>Quotes</title>
    </head>
    <body>
       
        <h1>Quote List</h1>
        {{ if .Quotes }}
            <ul>
                {{ range .Quotes }}
                    <li>{{.ID}}: {{.Message}}</li>
                {{end}}
            </ul>
        {{ else }}
            <h3>Database Environment Variables</h3>
            <ul>
                <li>MYSQL_USER: {{ .MYSQL_USER }} </li>
                <li>MYSQL_PASSWORD: {{ .MYSQL_PASSWORD }} </li>
                <li>MYSQL_DATABASE: {{ .MYSQL_DATABASE }}</li>
                <li>MYSQL_HOST: {{ .MYSQL_HOST }}</li>
            </ul>
        {{ end }}
    </body>
</html>
