<html>
	<head>
        <title>Quotes</title>
    </head>
    <body>
       
        <h1>Quote List</h1>
        {{ if .Quotes }}
            <ul>
                {{ range .Quotes }}
                    <li>{{.ID}}: {{.Message}}</li>
                {{end}}
            </ul>
        {{ else }}
            <h3>Database Environment Variables</h3>
            <ul>
                <li>QUOTES_USER: {{ .QUOTES_USER }} </li>
                <li>QUOTES_PASSWORD: {{ .QUOTES_PASSWORD }} </li>
                <li>QUOTES_DATABASE: {{ .QUOTES_DATABASE }}</li>
                <li>QUOTES_HOST: {{ .QUOTES_HOST }}</li>
            </ul>
        {{ end }}
    </body>
</html>
